.btn-new-book {
    margin-top: 25px;
    background: #cb4b16;
}

.add-book {
    margin-top: 15px;
    display: block;
}

.d-none {
    display: none;
}

input {
    border-radius: 10px;
    outline:none;
    border: 1px solid black;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

li > * {
    margin-left: 5px;
}

.btn-delete {
    background: #dc322f;
}

.btn-read {
    background: #b58900;
}

nav h1 {
    margin: 10px;
    margin-bottom: 25px;
    font-size: 35px;
    color: #2aa198;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 0 0 10px 10px;
    color: #dc322f;
}

body {
    background: #eee8d5;
    font-family: sans-serif;
    text-align: center;
}

button {
    border: 1px solid black;
    border-radius: 10px;
    font-size: 17px;
    color: white;
    outline: none;
}

